<div class="wrapper">
    <div id="inicio" class="page-header section-dark" style="background-image: url('assets/img/IA_FONDO_1.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/CHATBOT_PRIMERO.png" alt="">
                    </div>
                    <h3 class="titulo">InkaBot</h3>
                    
                </div>

                <h2 class="presentation-subtitle text-center"><strong>Una nueva manera de comunicarse</strong></h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>        
    </div>




    <div class="section section-dark" id="nosotros">
            <div class="container">
                <div class="title beneficios_title tim-title">
                    <h3><strong>Nosotros</strong> </h3>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="row example-page">
                            <div class="col-md-6 text-center" routerLinkActive="active">
                                <p class="texto"><strong>Somos una empresa innovadora que hace uso de las últimas tecnologías para la automatización de la gestión de procesos, mejorando la calidad de atención a tus clientes mediante el uso de la inteligencia artificial.</strong></p>
                                <br>
                                <p class="texto"><strong>Te ofrecemos soluciones para mejorar su atención al cliente, mejorando la comunicación y el diálogo amigable, amistoso y fluido.</strong></p>
                            </div>
                            <div class="col-md-6 text-center" routerLinkActive="active">
                                <a >
                                    <img src="./assets/img/NOSOTROS_1.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                                </a>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
    </div>
    
        <div class="section section-dark">
            <div class="container">
                <div class="row text-center" id="modals">
                    <!-- <div class="row example-page text-center">
                        <div class="col-md-12 text-center" routerLinkActive="active">
                            <a  class="text-center">
                                <img src="./assets/img/NOSOTROS_2.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            </a>
                        </div>
                    </div> -->
                    <div class="col-md-6">
                        <div class="tim-title">
                            <h3><strong>Misión</strong></h3>
                        </div>
                        <app-modalmision-component class="nosotros"></app-modalmision-component>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="tim-title">
                            <h3><strong>Visión</strong></h3>
                        </div>
                        <app-modalvision-component class="nosotros"></app-modalvision-component>
                    </div>

            

                    <br/>
                </div>
            </div>
        </div>
    
        
      <div class="section section-dark" id="comotrabaja">
          <div class="container">
              <div class="title beneficios_title tim-title">
                  <h3><strong>Como Trabaja InkaBot</strong> </h3>
              </div>
              <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <p class="texto"><i class="nc-icon nc-diamond" style="color: #ec671a;"></i><strong> Se conecta con la tecnología de WhatsApp que es usada por la gran mayoría de personas en el mundo.</strong></p>
                    <p class="texto"><i class="nc-icon nc-diamond" style="color: #ec671a;"></i><strong> Realiza conversaciones bidireccionales e interactivas.</strong></p>
                    <p class="texto"><i class="nc-icon nc-diamond" style="color: #ec671a;"></i><strong> Sigue, aprende y predice flujos de trabajo para una determinada tarea.</strong></p>
                    <p class="texto"><i class="nc-icon nc-diamond" style="color: #ec671a;"></i><strong> Interactúa de manera amigable y proactiva con los clientes.</strong></p>
                    <p class="texto"><i class="nc-icon nc-diamond" style="color: #ec671a;"></i><strong> Tiene la capacidad de adaptarse a conversaciones con diferentes contextos.</strong></p>
                    <p class="texto"><i class="nc-icon nc-diamond" style="color: #ec671a;"></i><strong> Proporciona una conversación muy agradable y cómoda para el usuario.</strong></p>
                    <p class="texto"><i class="nc-icon nc-diamond" style="color: #ec671a;"></i><strong> Responde de acuerdo a la edad de la persona (joven - adulto, formal -  Informal) con el quien mantiene una conversación.</strong></p>
                </div>
                    <div class="col-md-4">
                        <div >
                            <a >
                                <img src="./assets/img/IMAGEN_3.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            </a>
                        </div>
                    </div>
              </div>
          </div>
          <!-- <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>    -->
      </div>
        <div id="beneficios" class="section section-dark section-nucleo-icons">
            <div class="container">
                <h3>Beneficios al comprar nuestro ChatBot</h3><br/>
                <div class="row">
                    
                    <div class="col-lg-6 col-md-12">                        
                        <p class="texto"><i class="nc-icon nc-atom" style="color: #ec671a;"></i>
                            Crecimiento de las ventas.
                        </p>
                        <p class="texto"><i class="nc-icon nc-atom" style="color: #ec671a;"></i>
                            Llevar un mejor control de sus ventas.
                        </p>
                        <p class="texto"><i class="nc-icon nc-atom" style="color: #ec671a;"></i>
                            Evita pérdidas de clientes por demora de atención o mala información.
                        </p>
                        <p class="texto"><i class="nc-icon nc-atom" style="color: #ec671a;"></i>
                            Captura de mayor cantidad de clientes, gracias al uso de la aplicación Whatsapp que es considerada una tecnología de fácil acceso y uso a nivel mundial.
                        </p>
                        <p class="texto"><i class="nc-icon nc-atom" style="color: #ec671a;"></i>
                            Mejora el servicio de atención al cliente.
                        </p>
                        <p class="texto"><i class="nc-icon nc-atom" style="color: #ec671a;"></i>
                            Atención n-número de personas las 24 horas del día.
                        </p>
                        <p class="texto"><i class="nc-icon nc-atom" style="color: #ec671a;"></i>
                            Interactuamos con varias plataformas como WhatsApp, Facebook, Paginas Web, etc.
                        </p>
                        <p class="texto"><i class="nc-icon nc-atom" style="color: #ec671a;"></i>
                            Te permitirá ahorrar:
                                Costo y tiempo en capacitar personal de atención al cliente.
                                Tiempo en la duración de la atención a clientes.
                        </p>
                        <p class="texto"><i class="nc-icon nc-atom" style="color: #ec671a;"></i>
                            Logrando obtener más tiempo para sus demás actividades.
                        </p>
                        <p class="texto"><i class="nc-icon nc-atom" style="color: #ec671a;"></i>
                            Analizar la  información de tus procesos, para una mejor toma de decisiones.
                        </p>
                    </div>
                    <br>
                    <div class="col-lg-6 col-md-12">
                        <div >
                            <br><br><br><br><br>
                            <div >
                                <a >
                                    <img src="./assets/img/Crecimiento-empresarial.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>    -->
        </div>
        <div id="como" class="section section-dark">
            <div class="container">
                <div class="title beneficios_title tim-title">
                    <h3><strong>Como lo hacemos</strong> </h3>
                </div>
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        
                        <p class="texto"><i class="nc-icon nc-atom" style="color: #ec671a;"></i> Procesamos las conversaciones mediante uso de Procesamiento de Lenguaje Natural.</p>
                        <p class="texto"><i class="nc-icon nc-atom" style="color: #ec671a;"></i> Recibe mensaje del cliente. </p>
                        <p class="texto"><i class="nc-icon nc-atom" style="color: #ec671a;"></i> Identifica la respuesta de acuerdo al mensaje recibido. </p>
                        <p class="texto"><i class="nc-icon nc-atom" style="color: #ec671a;"></i> Responde al cliente y predice un posible flujo. </p>
                        <p class="texto"><i class="nc-icon nc-atom" style="color: #ec671a;"></i> Sigue un flujo de conversación hasta cumplir la necesidad del cliente.</p>
                    </div>
                </div>
            </div>
            <!-- <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>    -->
        </div>     
        <div id="equipo" class="section section-dark text-center">
            <div class="container">
                <div class="title beneficios_title tim-title">
                    <h3><strong>Nuestro Equipo</strong> </h3>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/KID.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Kid Yonatan Valeriano Valdez</h4>
                                        <h6 class="card-category">Ing. Sistemas</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">                                
                                    Actualmente soy desarrollador con conocimiento en ciencia de datos, minería de datos y principalmente en procesamiento de lenguaje natural.
                                    Licenciado en ingeniería de sistemas de la Universidad Nacional de San Agustín de Arequipa, también tengo una maestría en ciencias de la computación de la Universidad Federal de Fluminense, área de investigación de aprendizaje automático.
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a class="nav-link" href="https://www.linkedin.com/in/kyvaleriano/" class="btn btn-link btn-just-icon btn-neutral"  target="_blank"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/ALEXIA.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Alexia Katerine Condori Larico</h4>
                                        <h6 class="card-category">Ing. Sistemas</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                                </p>
                            </div>
                            <div class="card-footer text-center">
                               <a href="https://www.linkedin.com/in/alexia-katerine-condori-larico-093317123/" class="btn btn-link btn-just-icon btn-neutral"  target="_blank"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/CESAR.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Julio Cesar Ilachoque Umasi</h4>
                                        <h6 class="card-category">Ing. Sistemas</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    Licenciatura en Ingeniería de Sistemas con experiencia comprobada en desarrollo de aplicaciones web, móviles y de escritorio (Back-end, Front-end), con más de 4 años de experiencia comprobada.
                                    Especializado en calidad de software, así como pruebas de calidad y automatización de aplicaciones web y móviles.
                                </p>
                            </div>
                            <div class="card-footer text-center">
                               <a href="https://www.linkedin.com/in/julio-cesar-ilachoque-umasi-96a202152/" class="btn btn-link btn-just-icon btn-neutral"  target="_blank"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>    -->
        </div>
        
        

        
        <div id="contactos" class="section section-image section-login" style="background-image: url('assets/img/login-image.jpg');">
            
            
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
                        <div class="card card-register">
                            <h3 class="title">Contáctanos</h3>

                           
                            <div class="social-line text-center">
                                <a href="https://www.google.com/" class="btn btn-neutral btn-facebook btn-just-icon">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                            </div>
                            <br>

                            <div>
                                <form [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <input type="text" [formControl]="name" placeholder="Ingresa tu nombre completo."  class="form-control"  required/>
                                        <error class="error" *ngIf="name.invalid">Por favor ingresa tu nombre</error>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" [formControl]="email" placeholder="Ingresa un correo valido."  class="form-control"  required/>
                                        <error class="error" *ngIf="email.invalid">Por favor ingresa un correo valido.</error>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" [formControl]="phone" placeholder="Ingresa tu # de celular."  class="form-control"   required/>
                                        <error class="error" *ngIf="phone.invalid">Por favor ingresa tu número de celular.</error>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" [formControl]="empresa" placeholder="Ingresa el nombre de tu empresa."  class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <textarea rows="3" cols="40" [formControl]="message" placeholder="Ingresa tu mensaje." class="form-control"></textarea>
                                    </div>    
                                                            
                                    <button [disabled]="isLoading" class="btn btn-primary" type="submit">Enviar</button>
                                    <input [formControl]="honeypot" type="hidden" />
                                    <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
                                      <span>{{responseMessage}}</span>
                                    </div>
                                </form>
                            </div>
                            <!---
                            <div class="form-group">
                                <input type="text" placeholder="Ingresa tu nombre completo."  class="form-control" name="name" [(ngModel)]="name" required/>
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Ingresa tu # de celular."  class="form-control" name="name" [(ngModel)]="name" required/>
                            </div>
                            <div class="form-group">
                                <input name="emailaddress" placeholder="Ingresa tu correo." class="form-control" type="email" name="email" [(ngModel)]="email" required/>
                            </div>
                            <div class="form-group">
                                <input name="text" placeholder="Ingresa el nombre de tu empresa." class="form-control" type="name" name="email" [(ngModel)]="email" required/>
                            </div>
                            <div class="form-group">
                                <textarea rows="4" cols="40" placeholder="Ingresa tu mensaje." class="form-control" name="message" [(ngModel)]="message" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">Enviar</button>    
                            -->



                        </div>
                    </div>
                </div>
            </div>
            

        </div>
        
        
  
</div>
