ngb-progressbar {
    margin-top: 5rem;
}
.title{
    color: #1b2a37;
}
.nosotros{
    font-size: 18px;
    color: white;
}
.angular-logo{
    max-width: 200px;
}

.beneficios_title{
    font-size: 24px;
    color: #FFC300;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }

h3 {
    color: #FF7800;
    font-weight: normal;
    font-size: 25px;
    font-family: Arial;
}

p.texto {
    color: #FFFFFF;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

.error {
    color: #000000;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    padding-left: 2px;
  }

h3.titulo {
    color: #FF7800;
    font-family: Verdana, sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.centered {
    justify-content: center;
  }

.componentPadding{
    padding: 4px 0px;
}

.botonCentro{
    display: flex;
    justify-content: center;
}